.headList{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e7e7e7;
}
.lists{
    width: 30%;
    height: 50px;
    border: 2px solid black;
    margin: 10px;
}
.lists input{
    width: 50%;
    font-size: 1.5em;
    font-family: -apple-system;
    text-align: center;
    margin: 2px;
}
.lists button{
    border: none;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
}